<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action='/process' method='post'>
        <label for='name'>Name:</label>
        <input type='text' name='name'>
        <label for='location'>Location:</label>
        <select name="location" id="location">
            <option value="Chicago">Chicago</option>
            <option value="Burbank">Burbank</option>
            <option value="Bellevue">Bellevue</option>
            <option value="Online">Online</option>
        </select>
        <label for='fav_Lang'>Favorite Langauge:</label>
        <select name="langauge" id="langauge">
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="Java">Java</option>
            <option value="CSS">CSS</option>
        </select>
        <label for='comment'>Comments:</label>
        <input type='text' name='comments' id="comments">
        <input type='submit' value='sumbit'>
    </form>
</body>
</html>